<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Local Asseco NuGet" value="http://npmdo.asseco.rs:4874/" />
  </packageSources>
  <apikeys>
    <add key="http://npmdo.asseco.rs:4874" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAhdojEu3gl0eTn7FrT6FNywAAAAACAAAAAAADZgAAwAAAABAAAAC1uezmO7+1HCG0KC2DvW9LAAAAAASAAACgAAAAEAAAALheYk23S5T41YbrdmAELXUgAAAAUm7DJF4i0q5uRIEmg8+W98FqbYmWqr2r2OalQt6vOFQUAAAAn8OYmDLzCr1pYaczLLUBghNLnXE=" />
  </apikeys>
</configuration>