<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Local Asseco NuGet" value="http://npmdo.asseco.rs:4874/" />
  </packageSources>
  <apikeys>
    <add key="http://npmdo.asseco.rs:4874" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAhdojEu3gl0eTn7FrT6FNywAAAAACAAAAAAADZgAAwAAAABAAAABkIFr73ZSNVwECPCQ7oQCDAAAAAASAAACgAAAAEAAAAKLV7hgzqG1ae5w48zEM590gAAAADigH3zXoMCM3Mr92C/ZDnvi1jZJWGCRdw7doO6qmgdIUAAAAw+EBaGYBFKJWndlFN4COOVAzpig=" />
  </apikeys>
</configuration>